@font-face {
    font-family: 'jf';
    src: url('./assets/font/jf-openhuninn-2.0.ttf') format('truetype');
}
@font-face {
    font-family: 'noto';
    src: url('./assets/font/NotoSansTC-Bold.ttf') format('truetype');
}
:root {
    --dark-bg : #242424;
    --dark-text: #e6e6e6;
    --dark-input-border: #444444;
    --dark-input-bg: #333333; 
    --dark-button-bg: #333333;
    --dark-button-text: #e6e6e6;
    --dark-error-text: #e06c66;
}
/* */
*{
    font-family: 'jf';
}
html{
    height: 100%;
    padding: 0;
    margin: 0;
    /**/
}
body{
    background-color: var(--dark-bg);
    color: var(--dark-text);
    height: 100%;
    padding: 0;
    margin: 0;
    /**/
}
p{
    white-space: pre-line;
}
/* */
.markdown{
    width: 60vw;
    height: 60vh;
    /**/
    padding: 10px;
    /**/
    font-family: monospace;
    font-size: 14px;
    /**/
    line-height: 1.5;
    /**/
    resize: none;
    /**/
    border: none;
    outline: none;
    border-radius: 10px;
    /**/
    background-color: var(--dark-input-bg);
    color: var(--dark-text);
    /**/
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: box-shadow 0.3s ease;
}

.markdown:hover {
    background-color: var(--dark-input-bg);
    color: var(--dark-text);
}

.markdown::-webkit-scrollbar {
    width: 1vw;
    background-color: transparent;
    height: 10px;
}
  
.markdown::-webkit-scrollbar-thumb {
    background-color: var(--dark-text);
    border-radius: 10px;
}

::-webkit-scrollbar {
    width: 1vw;
    background-color: transparent;
    height: 10px;
}
  
::-webkit-scrollbar-thumb {
    background-color: var(--dark-text);
    border-radius: 10px;
}

/* */
.pageLeft{
    position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 80%;
	margin: auto;
    /**/
    height: 5vh;
    width: 10vw;
    /**/
    font-size: 2vw;
    /**/
    background-color: var(--dark-button-bg);
    color: var(--dark-button-text);
    /**/
    border: none;
    border-radius: 4px;
    /**/
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: box-shadow 0.3s ease;
}
.pageLeft:hover, .pageRight:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
.button{
    height: auto;
    width: auto;
    /**/
    font-size: 2vw;
    /**/
    background-color: var(--dark-button-bg);
    color: var(--dark-button-text);
    /**/
    border: none;
    border-radius: 4px;
    /**/
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: box-shadow 0.3s ease;
    /**/
    display: flex;
    align-items: center;
    justify-content: center;
}
.button:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
.button svg{
    fill: var(--dark-button-text);
}
.error{
    position: absolute; /* 或者使用 fixed，具体取决于你的需求 */
    top: 0;
    left: 5%;
    /**/
    font-size: 2vw;
    color: var(--dark-error-text);
}
.error p{
    margin: 0;
    padding: 0;
}
.error_mark{
    display: flex;
    align-items: center;
}
.error svg{
    fill: var(--dark-error-text);
}
.block{
	margin: auto;
    /**/
    width: 50%;
    /**/
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pageRight {
    position: absolute;
	top: 0;
	left: 80%;
	bottom: 0;
	right: 0;
	margin: auto;
    /**/
    height: 5vh;
    width: 10vw;
    /**/
    font-size: 2vw;
    /**/
    background-color: var(--dark-button-bg);
    color: var(--dark-button-text);
    /**/
    border: none;
    border-radius: 4px;
    /**/
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: box-shadow 0.3s ease;
}
/* */
.info_box{
    position: relative;
    /**/ 
    width: 30vw;
    height: 10vh;
    /**/
    border-radius: 10px;
    border-color: #e6e6e6;
    border-style:solid;
    border: style 2vw;
    /**/
    background-color: #242424;
}
.info_box p{
    margin: 0;
    padding: 0;
    width: 10vw;
    height: 2.5vh; 
}
.icon{
    position: absolute;
    top: 65%;
    left: 20%;
    transform: translate(-50%, -50%);
    /**/
    background-color: #242424;
    color: #fff;
}
.icon img{
    width: 6vw;
    height: 6vh;
}
.name{
    position: absolute;
    top: 20%;
    left: 75%;
    transform: translate(-50%, -50%);
    /**/
    background-color: #242424;
    color: #fff;
}
.readme{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    /**/
    background-color: #242424;
    color: #fff;
    /**/
}
.id{
    position: absolute;
    top: 20%;
    left: 5%;
    transform: translate(-50%, -50%);
    /**/
    background-color: #242424;
    color: #fff;
    /**/
}
.id p{
    width: 1vw;
}
/**/
.page{
    font-weight: 500;
    font-style: normal;
    font-size: 4vw;
}
/**/
.write_action{
    display: flex;
    height: 5vh;
    align-items: center;
    gap: 1vw;
}
/* */
.read_action{
    position: relative;
    display: flex;
    height: 5vh;
    align-items: center;
    gap: 1vw;
}
.read_action span{
    color: var(--dark-button-text);
    top: 0.8vh;
    position: absolute;
    display: flex;
    padding: 0 10px;
}
.read_action span svg{
    fill: var(--dark-button-text);
}
/* */
.title_language{
    height: 3vh;
    width: 50vw;
    font-family: 'noto';
    /**/
    background-color: var(--dark-button-bg);
    color: var(--dark-button-text);
    /**/
    border: none;
    outline: none;
    border-radius: 4px;
    /**/
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: box-shadow 0.3s ease;
    /**/
    text-align: center;
}
/* */
.read_list{
    display: block;
    width: 100%;
    max-height: 66vh;
    overflow-y: auto;
    /**/
    border: none;
    outline: none;
    border-radius: 10px;
    /**/
    background-color: var(--dark-input-bg);
    color: var(--dark-text);
    /**/
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: box-shadow 0.3s ease;
}
.read_box{
    display: flex;
    justify-content: center;
}

.input{
    height: 3vh;
    width: 49vw;
    font-family: 'noto';
    /**/
    background-color: var(--dark-button-bg);
    color: var(--dark-button-text);
    /**/
    border: none;
    outline: none;
    border-radius: 4px;
    /**/
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: box-shadow 0.3s ease;
    /**/
    text-align: center;
    /**/
    margin-bottom: 1vh;
}